*{
  margin: 0;  
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #05668d,#3c096c);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-app{
    width: 100%;
    max-width: 500px;
    background-color: #ffffffe2;
    margin: 30px auto 40px;
    padding: 30px 40px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.todo-app h1{
    align-self: center;
    color: #05668d;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h1 img{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #4c809654;
   
}
input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 14px;
}
button{
    /* margin-right: 1px; */
    border: none;
    outline: none;
    padding: 20px 40px;
    border-radius: 40px;
    background:#05668d;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(../assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 15px;
    left: 5px;
}

ul li.checked{
    color: #05668d;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./assets/checked.svg);
    
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    line-height: 40px;
}
ul li span:hover{
    background: #edeef0;
    border-radius: 50%;
    
}

@media only screen and (max-width: 766px){
    .todo-app{
        margin-top: -100px;
    }
}